@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


a{
  text-decoration: none;
}

ul{
    list-style: none;
}

.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  margin: auto;
  padding: 0 30px;
}
.navbar{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  padding: 12px 0;
  transition: all 0.3s ease;
}

.navbar .content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.navbar .logo img{
  width: 230px;
  height: 80px;
  border-radius: 5px;
}
.navbar .menu-list{
  display: inline-flex;
}

.menu-list li{
  list-style: none;
}

.menu-list li a.stil{
  color: white;
}

.menu-list li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all .2s ease;
}

.menu-list li a:hover{
  color: #082C94;
  transform: scale(1.1);
}

.icon{
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn{
  position: absolute;
  left: 20px;
  top: 20px;
}

.menu-list .menu-btn{
  position: absolute;
  right: 20px;
  top: 0px;
}

.offer-list{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 200;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid  #000000;
    width: 110px;
    display: grid;
    place-items: center;
}

.offer-list-elements{
  color: black;
}

.offer-list-elements.secondmenu {
  color: white
}

.offer-list li{
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
}

.offer-list li a{
    margin: 0;
    color: #000000;
    padding: 0;
}

.offer-list li a:hover{
  color: #000000;
  transform: scale(1.1);
}

li:hover ul.offer-list{
    opacity: 1;
    visibility: visible;
}

.navbar.sticky {
  background: #082C94;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar.sticky a{
  color: white
}

.navbar.sticky a:hover{
  color: rgb(161, 161, 161);
}

.navbar.sticky .offer-list{
  background-color: #082C94;
  z-index: 1;
  border: 2px solid  #ffffff;
}



@media (max-width: 868px) {

  .logo{
    display: none;
  }

  .navbar.sticky{
    background-color: transparent;
    box-shadow: none;
  }

  .navbar .logo img{
    width: 40px;
    height: 40px;
  }

  .navbar .content{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navbar.show{
    padding: 0px;
    width: 50%;
    height: 100%;
  }
  
  .icon{
    display: block;
  }

  .menu{
    background-color: #082C94;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-radius: 0px 0px 6px 0px;
    -webkit-border-radius: 0px 0px 6px 0px;
    -moz-border-radius: 0px 0px 6px 0px;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0px;
    display: block;
    z-index: 1000;
    padding: 40px 0;
    text-align: center;
    background: #082C94;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .menu-list li a{
    color: white;
  }

  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }

  .menu-list li a:hover{
    color: rgb(161, 161, 161);
  }


  .offer-list{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: relative;
    height: 0px;
  }

  .offer-list:hover{
    width: 100%;
    height: 200px;
    opacity: 1;
    visibility: visible;
    position: relative;
  }

  li:hover ul.offer-list{
    width: 100%;
    opacity: 1;
    visibility: visible;
    height: 200px;
    position: relative;
  }


  

}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

section{
  width: 100%;
  background: linear-gradient(97deg,#082c94,#ffffff);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.big-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.contact-title{
  font-size: 28px;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.contact-elements{
  margin: 18px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photo-container{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #082C94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-elements img{
  width: 70%;
  height: 70%;
}

.contact-elements span{
  font-size: 20px;
  width: 350px;
}

.contact-elements a{
  background-color: #082C94;
  width: 200px;
  height: 100px;
  display: grid;
  place-content: center;
  color: #ffffff;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.contact-elements a:hover{
  background-color: #06206d;
}

@media (max-width: 868px){
  .contact-title{
    font-size: 20px;
  }

  .contact-elements{
    margin: 12px;
    padding: 0;
  }

  .photo-container{
    width: 50px;
    height: 50px;
  }

  .contact-elements span{
    font-size: 10px;
    width: 100px;
    text-align: center;
  }

  .contact-elements a{
    width: 80px;
    height: 50px;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
  }
}

